.main {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding-inline: 30px;
  min-height: 63px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.btn-logout {
  background-color: rgb(61, 55, 55);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.btn-logout:hover {
  background-color: var(--color-red);
}
